.cart {

    &__conteiner {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 96px;
        margin-bottom: 128px;

        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-product {
        @media (max-width: 1023px) {
            display: flex;
            flex-direction: column;
        }
    }

    &-product__item {
        display: flex;
        width: 652px;
        margin-bottom: 40px;
        box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));

        @media (max-width: 1023px) {
            width: 734px;
        }
    }

    &-product__item-img {
        max-width: 262px;
        max-height: 306px;
    }

    &-product__item-info {
        max-width: 262px;
        margin: 22px 0 0 31px;
    }

    &-product__item-link {
        text-decoration: none;
    }

    &-product__item-info-title {
        @include font(24px, 29px);
        text-transform: uppercase;
        margin-bottom: 42px;
        color: $black-color;
    }

    &-product__item-link:hover>.cart-product__item-info-title,
    &-product__item-link:focus>.cart-product__item-info-title {
        color: $white-color-hover;
    }

    &-product__item-link:active>.cart-product__item-info-title {
        color: $white-color-active;
    }

    &-product__item-info-text {
        margin-top: 6px;
        margin-left: 0;
        @include font(24px, 26px);
        color: $cart-gray-text;
    }

    &-product__item-info-text--price {
        color: $pink-color;
    }

    &-product__item-info-text--color,
    &-product__item-info-text--size {
        color: $cart-gray-element;
    }

    &-product__item-info-text--label {
        display: flex;
        align-items: center;
    }

    &-product__item-info--input {
        width: 43px;
        height: 24px;
        margin-left: 24px;
        border: 1px solid $cart-gray-border;
        border-radius: 0;
        text-align: center;
        color: $cart-gray-color;
    }

    &-product__item-info--input:hover {
        outline: 1px solid $white-color-hover;
    }

    &-product__item-info--input:focus {
        outline: 1px solid red;
    }

    &-product__item-cloes {
        flex-grow: 1;
        background: none;
        display: flex;
        justify-content: flex-end
    }

    &-product-item-cloes-button {
        width: 20px;
        height: 20px;
        background: none;
        border: none;
        border-radius: 0%;
        padding: 0;
        margin: 28px 22px;
        cursor: pointer;
    }

    &-product-item-cloes-button:hover,
    &-product-item-cloes-button:focus {
        background-color: $cart-gray-button;
    }

    &-product-item-cloes-button:active {
        background-color: $white-color-active;
    }

    &-product__actions {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1023px) {
            justify-content: space-evenly
        }
    }

    &-product__actions-button {
        border: 1px solid $cart-gray-button;
        height: 50px;
        padding: 16px 40px;
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
    }

    &-product__actions-button:hover,
    &-product__actions-button:focus {
        background-color: $button-color;
        color: $white-color;
    }

    &-product__actions-button:active {
        opacity: 0.5;
    }

    &-form {
        width: 360px;
        display: flex;
        flex-direction: column;

        @media (max-width: 1023px) {
            justify-content: space-evenly;
            margin-top: 64px;
            flex-direction: row;
            width: 100%;
        }
    }

    &-form__output {
        @media (max-width: 1023px) {
            max-width: 360px;
        }
    }

    &-form__output-title {
        @include font(16px, 19px, 300);
        color: $black-color;
        text-transform: uppercase;
    }

    &-form__output-input {
        margin-top: 20px;
        width: 100%;
        height: 44px;
        border: 1px solid $cart-gray-button;
        border-radius: 0;
        @include font(13px, 16px, 300);
        padding: 14px 16px;
        box-sizing: border-box;
    }

    &-form__output-input:hover {
        outline: 1px solid $white-color-hover;
    }

    &-form__output-input:focus {
        outline: 1px solid red;
    }

    &-form__output-button {
        margin-top: 20px;
        min-width: 100Ppx;
        height: 34px;
        border: 1px solid $cart-gray-button;
        color: $cart-gray-button;
        background-color: white;
        border-radius: 0;
        @include font(11px, 13px, 300);
        text-transform: uppercase;
        cursor: pointer;
    }

    &-form__output-button:hover,
    &-form__output-button:focus {
        background-color: $button-color;
        color: $white-color;
    }

    &-form__output-button:active {
        opacity: 0.5;
    }


    &-form__input {
        margin-top: 56px;
        background-color: $cart-gray-order;

        @media (max-width: 1023px) {
            width: 360px;
            margin-top: 39px;
        }

    }

    &-form__input-sub {
        @include font(11px, 13px, 400);
        text-transform: uppercase;
        color: $cart-gray-totol;
        text-align: right;
        margin-top: 39px;
        margin-right: 34px;
    }

    &-form__input-sub--price {
        margin-left: 24px;
    }

    &-form__input-grand {
        @include font(16px, 19px, 300);
        color: $black-color;
        text-transform: uppercase;
        text-align: right;
        margin: 12px 37px 21px 0;
    }

    &-form__input-grand--price {
        @include font(16px, 19px, 700);
        color: $pink-color;
        text-align: right;
        margin-left: 24px;
    }

    &-form__input-hr {
        border: none;
        height: 1px;
        background-color: $cart-gray-hr;
        margin: 0;
        max-width: 275px;
        margin: 0 auto;
    }

    &-form__input-button-wrp {
        display: flex;
        justify-content: center;
        margin-top: 17px;
        margin-bottom: 42px;
    }

    &-form__input-button {
        height: 50px;
        width: 275px;
        border: none;
        border-radius: 0;
        background-color: $pink-color;
        @include font(16px, 19px, 300);
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }

    &-form__input-button:hover,
    &-form__input-button:focus {
        background-color: #FF6A6A;
    }

    &-form__input-button:active {
        opacity: 0.5;
    }
}