.fa-caret-square-o-left,
.fa-caret-square-o-right {
    color: gray;
}


.carousel-control-next:hover>.fa-caret-square-o-right,
.carousel-control-next:focus>.fa-caret-square-o-right,
.carousel-control-prev:hover>.fa-caret-square-o-left,
.carousel-control-prev:focus>.fa-caret-square-o-left {
    color: $pink-color;
}

.carousel-control-next:active>.fa-caret-square-o-right,
.carousel-control-prev:active>.fa-caret-square-o-left {
    opacity: 0.5;
}