.registration {

    &__wrp {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        margin-bottom: 96px;

        @media (max-width: 1023px) {
            margin-top: 40px;
            justify-content: space-evenly
        }

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
    }

    &__form {
        max-width: 360px;
    }

    &__form-title {
        @include font(16px, 19px, 300);
        /*
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    */
        letter-spacing: 0em;
        text-align: left;
        color: $black-color;
        text-transform: capitalize;
    }

    &__form-input {
        width: 100%;
        height: 45px;
        @include font(13px, 16px, 300);
        /*
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    */
        text-align: left;
        margin-top: 21px;
        box-sizing: border-box;
        border: 1px solid #A4A4A4;
    }

    &__form-input:hover {
        outline: 1px solid $white-color-hover;
    }

    &__form-input:focus {
        outline: 1px solid red;
    }

    &__form-input::placeholder {
        color: #B1B1B1;
    }

    &__form-group-radio {
        display: flex;
        align-items: center;
        margin: 33px 0 33px 0;
    }

    [type="radio"] {
        margin: 0;
    }

    &__form-span {
        display: inline-block;
        @include font(11px, 14px, 300);
        /*
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    */
        text-align: left;
        margin: 0px 20px 0px 10px;
    }

    &__form-text {
        @include font(13px, 16px, 300);
        /*
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    */
        text-align: left;
        color: #B1B1B1;
        margin-top: 16px;
    }

    &__form-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 167px;
        height: 50px;
        background-color: $button-color;
        text-transform: uppercase;
        @include font();
        /*
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    */
        text-align: left;
        color: $white-color;
        margin-top: 40px;
    }

    &__form-button>svg {
        width: 17px;
        margin-left: 20px;
    }

    &__form-button:hover,
    &__form-button:focus {
        background: #FF6A6A;
        color: $white-color;
    }

    &__form-button:active {
        opacity: 0.5;
    }

    &__info {
        max-width: 650px;
        margin-left: 12px;

        @media (max-width: 1023px) {
            max-width: 360px;
            margin-top: 40px;
        }
    }

    &__info-header {
        @include font(24px, 29px, 300);
        /*
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    */
        text-align: left;
        text-transform: uppercase;

        @media (max-width: 1023px) {
            @include font(16px, 19px, 300);
        }
    }

    &__info-text {
        @include font(24px, 29px, 300);
        /*
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    */
        text-align: left;
        margin-top: 22px;

        @media (max-width: 1023px) {
            @include font(16px, 19px, 300);
        }
    }

    &__info-list {
        margin-left: 43px;
        margin-top: 21px;
    }

    &__info-item {
        @include font(24px, 29px, 300);
        /*
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    */
        text-align: left;
        margin-bottom: 16px;
        position: relative;

        @media (max-width: 1023px) {
            @include font(16px, 19px, 300);
        }
    }

    &__info-item-img {
        position: absolute;
        top: 7px;
        left: -43px;
    }
}